@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');


.animationGradient{
  background: linear-gradient(-45deg, white, rgb(254,81,154), rgba(253,187,45,1), red);
    background-size: 400% 400%;
    font-family: 1em Inter 400 black;
    /* För https://www.freecodecamp.org/news/html-page-width-height/*/
    min-height: 100vh;
    animation:  animate 10s ease infinite;
}


body{
    min-height: 100vh;
  } 

.custom-btn {
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border-radius: 1em;
  border: none;
  margin: 0.5vw;
  width: 10vw;
  height: 6vh;
  font-family: Inter;
  font-size:1.5em;
  padding: 1vh;
  font-weight: 400;
  min-width: 10vw;
  min-height: 10vh;
}

.custom-btn:hover {
  animation: pulse 1.5s; /* Animate for 1.5 seconds on hover */
}

.custom-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;

}


.custom-btn-quadratic {
    color: black;
    background: white;
    cursor: pointer;
    border-radius: 1em;
    height: 100%;
    align-self: center;
    position:relative;
    border: none;
    margin-left: 1vh;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);

}
.custom-btn-quadratic:hover{
  
    animation: pulse 2s;
    animation-delay:0.5ms ;
  
}

.custom-btn-quadratic:disabled {
    opacity: 0.5;
    cursor: not-allowed;


}

@font-face { font-family: Inter; 
src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap'); } 
h1{
    font-family: Inter;
    font-weight: 100;
    font-size: 5em;
}

.headerTextWhiteBox {
  background-color: rgb(255,255,240);
  box-shadow: rgba(0, 0, 0, 0.24) 4em 4em 8em;
  align-self: center;
  padding: 5vh;

}

.lightYellowBox{ /* byt namn? */
   background-color: rgb(255,255,240);
   /* background: transparent; */
}

.shadowIt{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type=text] {
    width: 50%;
    height: 8vh;
    font: 1.5em Inter;
    border: 0px;
    background: white;

}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentArea {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}


.goBackButtonPosition {
    position:fixed; 
    top:0; left:0; 
    margin:0.5vw !important; 
    width: 5vw !important;
}

.playButtonPosition{
  position:fixed; 
  bottom:0; right:0; 
  margin:0.5vw !important; 
  width: 5vw !important;
}

.goBackButtonDiv {
  width: 30vh;
  height: 11vh;
  display: inline;
}




@keyframes animate{
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

